.button {
    border: 1px solid green;
    color:brown;
    background-color: olive;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 100%;
}

.button:hover,
.button:active {
    border-color: red;
}