.button {
    border: 1px solid #0E025C;
    color:#DB6A1A;
    background-color: #2005DB;
    padding: 1rem;
    /* margin: 1rem; */
    border-radius: 10px;
}

.button:hover,
.button:active {
    border-color: red;
}